body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../300ppi/500ppi/bg.png);
  background-size: cover;
  
}

.main {
  position: relative;
  overflow: scroll;
}
.main::-webkit-scrollbar {
  width: 0.3rem;
  height: 0;
}
.main::-webkit-scrollbar-thumb {
  background: rgba(30, 144, 255);
}
.main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.1rem grey;
  border-radius: 0.2rem;
  height: 0.3rem;
}

.side__nav {
  width: 5vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  position: relative;
}

.side__nav-icons {
  position: absolute;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 3%;
}

.nav-icon {
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
}

.app-name {
  position: absolute;
  height: 35%;
  width: 100%;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
  
}

.ethereum-text {
  font-size: 1.3rem;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  margin-right: -60%;
  font-family: "Nunito";
  
  
}

.tweet-library-text {
  font-size: 1rem;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  margin-left: 60%;
  font-family: "Nunito";
  
}

.search {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 20%;
  height: 1.6rem;
  display: flex;
  /* border: 3px solid green; */
}

.search-input {
  width: 70%;
  height: 100%;
  display: inline-block;
  border-radius: 2rem;
  padding-left: 2.5rem;
  /* border: 3px solid red; */
}

.search-input::placeholder {
  display: flex;
  justify-content: space-around;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  border-radius: inherit;
}

.search-icon {
  position: absolute;
  margin-left: 0.25rem;
  margin-top: 0.15rem;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  border-radius: 50%;
  width: 10%;
  /* border-radius: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.fa-search {
  color: white;
}

.content-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-icon {
  height: 4rem;
  width: 3rem;
  border: thin solid rgba(65, 105, 225, 0.9);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  /* border: 5px dotted orange; */
}

.main-icon:hover {
  background-color: rgba(65, 105, 225, 0.9);
}

.row {
  display: flex;
  justify-content: space-evenly;
  /* border: 5px solid orange; */
}

.row a {
  text-decoration: none;
}

.main-icon__container {
  text-align: center;
  /* border: 1px solid green; */
}

.main-icon__title {
  font-size: 1rem;
  display: block;
  color: rgba(65, 105, 225, 0.9);
}

.nxt-line-txt {
  display: block;
}

.other-icons {
  border: 2px solid blue;
}
.profile__suggest{
  position: absolute;
  right: 5%;
  bottom: 7%;
  height: auto;
  width: auto;
  
}
.profile__suggest-alert{
  height: 15vh;
  width:  10vw;
  margin-bottom: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 80% 60%, 80% 100%, 70% 60%, 0 60%);
  border: rgba(65, 105, 225, 0.9);
  background-color: rgba(65, 105, 225, 0.9);
  text-align: center;
  color: white;
  border-radius: 0.4rem;
  padding: 0.5rem;
  animation-name: messageAlert;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  opacity: 0;
}
.suggest-profile{
  position: absolute;
  top: 5%; 

}
.message__icon {
  
  position: fixed;
  position: absolute;
  bottom: -10%;
  right: 10%;
  background-color: rgba(65, 105, 225, 0.9);
  font-size: 120%;
  padding: 0.5rem;
  border-radius: 50%; 
  box-shadow: 0 0.25rem 0.25rem black;
  cursor: pointer;
}
.fa-envelope{
  color: white;
}
.close-alert{
  position: absolute;
  top: -17%;
  right: 5%;
  color: white;
  transform: rotate(45deg);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
/* profile suggest alert */
@keyframes messageAlert {
  0%{
    opacity: 0;

  }
  30%{
    opacity: 0.6;

  }
  60%{
    opacity: 0.3;
  }
  80%{
    opacity: 0.8;

  }
  100%{
    opacity:1;

  }
  
}

.sass p {
  color: blue;
}
.sass h1 {
  color: red;
}

@media screen and (max-width: 500px) {
  
  .main-icon_container {
    display: flex;
    justify-content: space-evenly;
    border: 10px solid red;
    
  }
  .main-icon {
    border: 5px solid blue;
    height: 2.3rem;
    width: 1.3rem;
  }

  .row {
    /* border: 3px solid aqua; */
    width: 70vw;
    margin-bottom: 15%;
  }
  .content-icons {
    width: 70vw;
    height: 50vh;
  }

  .side__nav-icons {
    display: none;
  }

  .search-input {
    display: flex;
    height: 2rem;
    justify-content: center;
    /* border: 3px solid orange; */
  }

  .row1 {
    display: 3px solid green;
  }

  .search-icon {
    margin-top: 0.2rem;
    /* border: 2px solid purple; */
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  .search-box {
    display: flex;
    /* justify-content: space-around; */
    /* border: 3px solid blue; */
    width: 70vw;
  }
  ::placeholder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid green; */
  }

  .search__icon-box {
    border: 1px solid red;
  }

  .profiles-grid {
    border: 3px solid green;
  }

  .twitter-username {
    border: 1px solid green;
  }

  p.name {
    border: 2px solid red;
  }
  .side__nav{
    width: 0vw;
  }
  .profile__suggest-alert{
    width: 25vw;
    height: 20vh;
    
  }
  .close-alert{
    top: -10%;
  }

/*.side__nav {
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    position: relative;
    top: 0;
  } */
}
/*# sourceMappingURL=styles.css.map */
