body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../300ppi/500ppi/bg.png);
  background-size: cover;
}

.main {
  position: relative;
}

.side__nav {
  width: 5vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  position: relative;
}

.side__nav-icons {
  position: absolute;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 3%;
}

.nav-icon {
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
}

.app-name {
  position: absolute;
  height: 35%;
  width: 100%;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.ethereum-text {
  font-size: 1.3rem;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  margin-right: 60%;
  font-family: "Nunito";
}

.tweet-library-text {
  font-size: 1rem;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  margin-left: 50%;
  font-family: "Nunito";
}

.search {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 20%;
  height: 1.6rem;
  display: flex;
}

.search-input {
  width: 70%;
  height: 100%;
  display: inline-block;
  border-radius: 2rem;
  padding-left: 2.5rem;
}

.search-input::placeholder {
  display: flex;
  justify-content: space-around;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  border-radius: inherit;
}

.search-icon {
  position: absolute;
  margin-left: 0.18rem;
  margin-top: 0.15rem;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 15%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search {
  color: white;
}

.content-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-icon {
  height: 4rem;
  width: 3rem;
  border: thin solid rgba(65, 105, 225, 0.9);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  border: 5px dotted orange;
}

.main-icon:hover {
  background-color: rgba(65, 105, 225, 0.9);
}

.row {
  display: flex;
  justify-content: space-evenly;
  border: 5px solid orange;
}

.row a {
  text-decoration: none;
}

.main-icon__container {
  text-align: center;
  border: 1px solid green;
}

.main-icon__title {
  font-size: 1rem;
  display: block;
  color: rgba(65, 105, 225, 0.9);
}

.nxt-line-txt {
  display: block;
}

.other-icons {
  border: 2px solid blue;
}

.sass p {
  color: blue;
}
.sass h1 {
  color: red;
}

@media screen and (max-width: 500px) {
  .main-icon_container {
    display: flex;
    justify-content: space-evenly;
    border: 10px solid red;
  }
  .main-icon {
    border: 5px solid blue;
  }

  .row {
    border: 3px solid aqua;
    width: 80vw;
  }
  .content-icons {
    /* margin-right: 30%; */
    border: 3px dotted pink;
    width: 70vw;
    height: 50vh;
  }

  .main {
    border: 10px solid pink;
  }
  .side__nav {
    /* border: 3px solid blue; */
    width: 10vw;
  }

  .search-input {
    display: flex;
    height: 2rem;
    justify-content: center;
    /* border: 3px solid orange; */
  }

  .search-icon {
    margin-top: 0.2rem;
    /* border: 2px solid purple; */
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  .search-box {
    display: flex;
    /* justify-content: space-around; */
    /* border: 3px solid blue; */
    width: 70vw;
  }
  ::placeholder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid green; */
  }

  .search__icon-box {
    border: 1px solid red;
  }

  .profiles-grid {
    border: 3px solid green;
  }
}
/*# sourceMappingURL=styles.css.map */
