body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
#landing__page{
  height: 105vh;
  width: 100%;
  background-image: url('images/BkImg.png');
  background-size: cover; 
  position: relative;
  
}

#landing__page-title__container{
  position: absolute;
  top: 2.5%;
  right: 7%;
  text-align: center;
  

}

#ethereum-text{
  color: #4169E1;
  font-size: 2.5rem;
  font-family: sans-serif;
  margin-bottom: -8%;
  animation-name: ethereumAndBtn;
  animation-duration: 3s;
  animation-delay: 1.5s;
  
  
}
#tweet-library-text{
  font-size: 1.4rem;
  color: #4169E1;
  font-weight: 800;
  margin-bottom: -2%;
}
#tweet{
  animation-name: tweetText;
  animation-duration: 3s;
  animation-delay: 2s;
}
#library{
  animation-name: libraryText;
  animation-duration: 3s;
  animation-delay: 2s;
}

#description{
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
  font-style: italic;
  animation-name: descriptionAndLoginInfo;
  animation-duration: 3s;
  animation-delay: 2s;
}


#get__started__container{
  position: absolute;
  bottom: 5%;
  right: 10%;
  text-align: center;
  margin-bottom: 1rem;
}

.start-btn:link,
.start-btn:visited{
  width: auto;
  padding: 0.5rem 1.2rem;
  background-image: linear-gradient(120deg, #87CEEB, #0000CD);
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 3rem;
  font-weight: 400;
  box-shadow: 0.3rem 0.3rem 0.8rem #000;
  display: inline-block;
  transition: all 0.15s;
  position: relative;
  animation-name: ethereumAndBtn;
  animation-duration: 3s;
  animation-delay: 1.5s;
  
}

.start-btn:hover{
  transform: translateY(-0.15rem);
  box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.3)
  
}
.start-btn:active{
  transform: translateY(-0.08rem);
  box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.3)
}
.start-btn:after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s;
  background-image: linear-gradient(120deg, #87CEEB, #0000CD);
}
.start-btn:hover::after{
  transform: scaleX(1.4) scaleY(1.4);
  opacity: 0;
}
.start-btn:active::after{
  transform: scale(1.4) scaleY(1.4);
  opacity: 0;
}

#tweeter__login__info{
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
  margin-top: 4%;
  animation-name: descriptionAndLoginInfo;
  animation-duration: 3s;
  animation-delay: 2s;
}
#tweeter-login{
  color: #00bfff;
  
}

@keyframes ethereumAndBtn {
  0%{
    opacity: 0;
    transform: translateY(-5rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes descriptionAndLoginInfo {
  0%{
    opacity: 0;
    transform: translateY(5rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes tweetText {
  0%{
    opacity: 0;
    transform: translateX(-5rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes libraryText {
  0%{
    opacity: 0;
    transform: translateX(5rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

 
 






@media only screen and (max-width: 700px){
  #landing__page-title__container{
    top: -5%;
    right: 50%;
    transform: translate(50%, 15%);
  }

  #get__started__container{

    width: 100%;
    right: 50%;
    transform: translate(50%, 25%);
  }

}

